[submodule "u-boot"]
	path = u-boot
	url = git@github.com:rageworx/rk3399_uboot.git
[submodule "kernel"]
	path = kernel
	url = git@github.com:rageworx/rk3399_linux_kernel_4.4.179.git
[submodule "rootfs"]
	path = rootfs
	url = git@github.com:rageworx/rk3399_debian_rootfs.git
